*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(login_image/abhijeet-swarnkar-pHX3Rphlqn0-unsplash.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}
form{
    background: gray;
    opacity: 0.8;
    width: 350px;
    height: 375px;
    padding: 30px 20px;
    position: absolute;
    left: 40%;
    top: 15%;
    top: translate(50%,50%);
}
h1{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
::placeholder{
    color: white;
}
.textBnox input{
    border:none white;
    background: none;
    position:relative ;
    outline: none;
    margin: 35px 0;
    color: white
}
.textboxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white ;
}
.logbtn{
    transition: 0.5%;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: red;
    background-size: 200%;
    color: white;
    font-size: 15px;
    margin: 50px 0;
    font-family: 'Times New Roman', Times, serif;
}
.logbtn:hover{
    background-position: right;
    font-size: 17px;
}
.signup{
    color: white;
    margin-top: 0px;
    text-align: center;
}
.signup a{
    color: white;
    text-decoration: underline;
}
