<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <img loading="lazy" width="65px" class="footer-logo" src="images/b2f-letter-original-monogram-logo-260nw-1757905862-removebg-preview.png" alt="Constra">
            <p style="color: black;"><a href="homepage.html">HOME</a> | <a href="aboutus.html">ABOUT|<a href="contactus.html">CONTACT</a></p>
            <div class="footer-social">
              <ul>
                <li><a href="https://facebook.com" aria-label="Facebook"><i
                      class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="https://instagram.com" aria-label="Instagram"><i
                      class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com" aria-label="Github"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title" style="color: black;">Location</h3>
            <div class="working-hours">
              <p style="color: black;"><span>Farmers Pride Building
                FDP-MDBP Building
                First Floor,<br>       
                JAVA Industrial Estate<br>
                New Delhi-110020</span></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title" style="color: black;">Services</h3>
            <ul class="list-arrow">
              <li><a href="cropinfo.html" style="color: black;">Information</a></li>
              <li><a href="yourcart.php" style="color: black;">E-Shop</a></li>
              <li><a href="#" style="color: black;">Consulting with Farmers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="copyright-info text-center text-md-left">
              <span>Copyright &copy; 2022, Designed &amp; Developed by <a href="#">B2F</a></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="footer-menu text-center text-md-right">
              <ul class="list-unstyled">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="aboutus.html">About</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="yourcart.php">Shop</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>