<aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/21104.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">NAVIGATION</li>
        <li class="active treeview">
          <a href="adminhomepage.php">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="addproducts.php">
            <i class="fa fa-opencart"></i>
            <span>Add Products</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right"><?php echo ($count_products) ?></span>
            </span>
          </a>
        <li>
        <li class="treeview">
          <a href="addcropinformation.php">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Add Information</span>
          </a>
        </li>
        <li class="treeview">
          <a href="updatestatus.php">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Update Status</span>
          </a>
        </li>
        <li class="treeview">
          <a href="updatequantities.php">
            <span>Update Quantities</span>
          </a>
        </li>
    </section>
  </aside>